@charset "UTF-8";
/* marron suave */
/* Gris claro */
/* Colores de acento */
/* Rojo intenso */
/* Fondo negro */
/* Estilos generales */
:root {
  /* Colores principales */
  --color-primary: #f9f9f9;
  /* Blanco hueso */
  --color-secondary: #dcdcdc;
  /* Gris claro */
  /* Colores de acento */
  --color-accent: #f0f0f0;
  /* Rojo intenso */
  /* Colores de fondo */
  --color-background: #f5f5f5;
  /* Gris claro */
  /* Colores de texto */
  --color-text: #333333;
  /* Negro suave */
  --font-primary: 'Roboto', sans-serif;
  /* Fuente principal */
  --font-heading: 'Open Sans', sans-serif;
  /* Fuente para títulos */
  --font-nav: 'Montserrat', sans-serif;
  /* Fuente para elementos de navegación */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  box-sizing: border-box;
  background-color: var(--color-background); }

/* Aplicar la fuente de títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); }

/* Aplicar la fuente de navegación */
.navbar a {
  font-family: var(--font-nav); }

iframe {
  width: 100%;
  border: none; }

/* Estilos para el contenedor del header */
/* Estilos para el header */
.navbar-nav {
  margin-top: 10px; }

.user-navbar-primary {
  margin-right: 150px; }

.user-navbar-primary a {
  border-radius: 5px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px; }

/*
.user-navbar-primary a:hover {
  color: #33B5E5;
  background-color: #FFFFFF;
  border-radius: 10px;
}*/
.header-container {
  display: flex;
  flex-direction: column;
  background-color: #a0856c;
  /* Agrega este estilo para el color de fondo */
  align-items: center;
  text-align: center; }

.logo-search {
  display: flex;
  justify-content: space-between;
  /* Agrega espacio horizontal entre los elementos */
  align-items: center;
  /* Centra los elementos verticalmente */
  text-align: center; }

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px; }

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.search {
  display: flex;
  /* Para que los elementos dentro de .search sean flexibles */
  align-items: center;
  /* Centra los elementos verticalmente */
  border-radius: 10px;
  /* Agrega border-radius al campo de búsqueda */
  overflow: hidden;
  /* Oculta el desbordamiento del botón en el campo de búsqueda */ }

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px; }

.search button {
  padding: 10px;
  font-size: 16px; }

.ofertaButton {
  margin-left: 25px; }

.ofertaButton a {
  border-radius: 5px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px; }

/* Estilos para el menú de navegación */
.navbar ul {
  display: flex;
  padding: 0; }

.navbar li {
  margin-right: 5px; }

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  font-size: 16px; }

.title-primary {
  margin-right: 20px; }

.navbar a:hover {
  color: #555; }

/* Estilos de tu menú */
/* Estilos para el carrusel */
.carousel {
  display: flex;
  justify-content: center;
  /* Centramos horizontalmente */
  /* Ajusta el tamaño máximo del carrusel */
  /* margin: 0 auto;*/
  /* Centramos el carrusel en la página */
  background-color: #a0856c;
  /* Establece el color de fondo del carrusel */
  width: 90%; }

/* Estilos para el carrusel */
.carousel .carousel-inner {
  max-width: 20%; }

.carousel .carousel-inner .carousel-item {
  display: flex;
  /* Aseguramos que las imágenes se ajusten correctamente */
  justify-content: center;
  /* Centramos horizontalmente las imágenes */ }

.carousel .carousel-inner .carousel-item img {
  width: 110%;
  /* Ajustamos el ancho para estirar ligeramente la imagen */
  height: auto;
  /* Ajustamos la altura automáticamente para mantener la relación de aspecto */
  object-fit: contain;
  /* Ajustamos el contenido de las imágenes dentro de su contenedor */ }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* Estilos adicionales para los botones de control (opcional) */
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555; }

/*Inicio estilos para el footer*/
/********************************************************************************************************************************/
/* Estilos para el footer */
footer {
  background-color: var(--color-secondary);
  padding: 20px; }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "social-media site-links help account";
  gap: 15px;
  margin: 3%; }

.social-media ul {
  list-style: none;
  padding: 0; }

.social-media li {
  margin-bottom: 10px;
  /* Espacio entre elementos de la lista */ }

.social-media a {
  text-decoration: none;
  font-family: var(--font-nav);
  font-size: 16px;
  color: black; }
  .social-media a i {
    margin-left: 10px;
    /* Añade espacio entre el ícono y el texto */ }
  .social-media a.facebook i {
    color: #1877f2;
    /* Cambia el color del ícono de Facebook */ }
  .social-media a.twitter i {
    color: #1da1f2;
    /* Cambia el color del ícono de Twitter */ }
  .social-media a.instagram i {
    color: #e4405f;
    /* Cambia el color del ícono de Instagram */ }

.social-media,
.site-links,
.help,
.account {
  grid-area: social-media,site-links,help,account;
  flex-basis: 25%; }

.site-links ul {
  list-style: none;
  padding: 0; }

.site-links li {
  margin-bottom: 10px;
  /* Espacio entre elementos de la lista */ }

.site-links a {
  text-decoration: none;
  font-family: var(--font-nav);
  font-size: 16px;
  color: black; }

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }

ul {
  list-style-type: none;
  padding: 0; }

ul li {
  margin-bottom: 5px; }

.more-info-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px; }

/* Estilos para el icono de WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out; }

.whatsapp-icon:hover {
  transform: scale(1.1); }

/*Fin de los estilos del footer*/
/********************************************************************************************************************************/
/* Estilos para el contenedor principal del index de la pagina principal MAIN */
.main-index {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 6fr 1.5fr;
  grid-template-areas: "content-section advertisement-section"; }

.category-section {
  width: 100%;
  /* Ancho del contenedor de categorías */
  margin-right: 20px;
  /* Margen derecho para separar de la sección de contenido */ }

.category-section h3 {
  font-size: 18px;
  margin-bottom: 10px; }

.category-section ul {
  display: flex;
  /* Flexbox: Se establece el contenedor de categorías como flexible */
  flex-direction: column;
  /* Flexbox: Alineación vertical de los elementos */
  gap: 10px; }

.category-section ul li {
  list-style: none;
  /* Quitar viñetas de la lista */ }

.category-section ul li a {
  text-decoration: none;
  color: #000;
  /* Cambiar el color del texto según tus preferencias */ }

.category-section ul li ul {
  display: none;
  /* Ocultar subcategorías por defecto */
  padding-left: 10px;
  /* Añadir un poco de espacio para diferenciar las subcategorías */ }

.category-section ul li:hover ul {
  display: block;
  /* Mostrar subcategorías al pasar el mouse sobre la categoría */ }

.content-section {
  margin: 10%;
  /* Margen general para separar del borde de la página */
  width: 90%;
  /* Ancho del contenedor de contenido */
  margin-right: 20px;
  /* Margen derecho para separar de la sección de categorías */
  display: flex;
  flex-direction: column;
  align-items: center; }

.content-section > section {
  margin-bottom: 20px; }

.content-section > section:last-child {
  margin-bottom: 0; }

.content-section > section h2 {
  margin-bottom: 10px; }

.promotions-section {
  text-align: center; }

.promotions-section .promotions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; }

.promotion-item {
  width: 30%;
  text-align: center; }

.promotion-item img {
  width: 100%;
  height: auto; }

/* Estilos para la cuadrícula de imágenes */
.image-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }

.image-grid img {
  width: 20%;
  height: auto; }

/* Estilos para la sección de publicidad */
.advertisement-section {
  grid-area: advertisement-section;
  flex: 1;
  /* Utilizar espacio flexible */
  text-align: center;
  position: sticky;
  top: 20px;
  /* Ajusta el valor según tu diseño para evitar que se superponga con el contenido */
  z-index: 1000;
  /* Asegura que la sección esté por encima del contenido al desplazarse */
  padding: 20px;
  /* Añade una cantidad de espacio interno para separar el contenido */ }

.advertisement-section h3 {
  font-size: 18px;
  margin-bottom: 10px; }

.advertisement-section .advertisements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* Espacio superior para separar del contenido anterior */ }

.advertisement-section .advertisements img {
  width: 50%;
  /* Ajusta el tamaño deseado según tu diseño */
  height: auto;
  max-width: 100%;
  /* Asegurar que las imágenes no se desborden */
  margin-bottom: 35px;
  /* Aumentar el espacio vertical entre las imágenes */ }

/* CSS personalizado para limitar el tamaño máximo de las imágenes */
.custom-card-img {
  max-width: 100%;
  /* Establece el ancho máximo al 100% del contenedor */
  height: auto;
  /* Permite que la altura se ajuste automáticamente según el ancho */ }

/* Media query para desactivar el sticky en resoluciones menores a 768px */
@media (max-width: 768px) {
  .advertisement-section {
    position: static !important;
    /* Cambia 'position' a 'static' y usa '!important' para asegurarte de que se aplique */
    top: auto !important;
    /* Reiniciar 'top' a 'auto' con '!important' */
    z-index: auto !important;
    /* Reiniciar 'z-index' a 'auto' con '!important' si es necesario */
    padding: 0 !important;
    /* Elimina el padding con '!important' si es necesario */ }
  .advertisement-section .advertisements {
    flex-direction: row;
    /* Cambia la dirección de la fila a horizontal */
    justify-content: center;
    /* Centra las imágenes horizontalmente */ }
  .advertisement-section .advertisements img {
    width: auto;
    /* Deja que el ancho se ajuste automáticamente */
    max-width: 20%;
    /* Divide en 3 columnas (3 imágenes en una fila) */
    margin-right: 10px;
    /* Añade espacio entre las imágenes horizontales */
    margin-bottom: 0;
    /* Elimina el espacio vertical entre las imágenes */ }
  .main-index {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 6fr;
    grid-template-areas: "advertisement-section" "content-section"; }
  .user-navbar-primary {
    margin-right: 0;
    /* Aquí elimina el margen derecho o establece el valor deseado para dispositivos estrechos */ }
  .logo-search {
    flex-direction: row;
    /* Cambiar la dirección a horizontal */
    align-items: center;
    /* Centrar los elementos verticalmente */
    text-align: left;
    /* Alinear el texto a la izquierda */ }
  .title-primary {
    margin-right: 10px;
    /* Espacio entre el título y el logo */ }
  .logo {
    width: 40px;
    /* Ajustar el tamaño del logo según tu preferencia */
    height: 40px;
    margin-right: 10px;
    /* Espacio entre el título y el logo */ }
  .search {
    margin-left: 10px;
    /* Espacio entre el logo y el campo de búsqueda */ }
  .search input[type="text"] {
    width: auto;
    /* Permitir que el campo de búsqueda se ajuste automáticamente */ }
  .search button {
    padding: 10px;
    font-size: 16px; } }

/* Estilos para tamaños de pantalla mayores o iguales a 768px */
@media (min-width: 768px) and (max-width: 1024px) {
  .user-navbar-primary {
    margin-right: 15px;
    /* Cambia el valor a tu preferencia */ } }

/* Estilos generales de la seccion contacto*/
/* Estilos para el contenido principal de la seccion del html  */
.contact-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px; }

.contact-ask {
  margin-bottom: 20px; }

.contact-section {
  margin-bottom: 20px; }

.form-contact {
  display: flex;
  flex-direction: column; }

.form-contact-item {
  margin-bottom: 10px; }

.form-contact-item label {
  display: block; }

button[type="submit"] {
  margin-top: 10px; }

/* Estilos para el contenido principal de la seccion productos */
.main-productos {
  display: grid;
  grid-template-areas: "category product";
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  margin: 20px; }

.product-section h2 {
  margin-bottom: 10px; }

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.product-item {
  position: relative;
  overflow: hidden;
  width: 40%;
  /* Ajusta el ancho deseado */
  margin-bottom: 20px;
  /* Espacio entre las tarjetas */ }

.product-item img {
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; }

.product-item:hover .overlay {
  opacity: 1; }

.overlay h3, .overlay h2, .overlay h1 {
  color: #fff;
  margin: 0; }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.pagination a {
  margin-right: 10px;
  color: #333;
  text-decoration: none; }

.pagination a.active {
  font-weight: bold;
  color: #000; }

/*
  .navbar-category{
    grid-column: 1 / -1;
    background-color: aqua;
  } 
  */
.product-grid {
  display: flex;
  flex-wrap: wrap; }

.product-item {
  width: calc(25% - 20px);
  margin: 10px;
  position: relative;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; }

.product-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); }

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease; }

.product-item:hover img {
  transform: scale(1.1); }

.product-item .card-body {
  padding: 10px; }

.product-item .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px; }

.product-item .card-text {
  font-size: 24px;
  font-weight: bold; }

.product-item .installments {
  color: green;
  font-size: 18px;
  font-style: italic;
  font-weight: bold; }

/* Estilos para el botón "Agregar al carrito" */
.add-to-cart-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; }

.product-item:hover .add-to-cart-btn {
  display: block; }

.product-item .img-container {
  position: relative; }

.product-item:hover .card-body {
  z-index: 2; }

@media (max-width: 768px) {
  .product-item {
    width: calc(50% - 20px); } }

@media (max-width: 576px) {
  .product-item {
    width: 100%; } }

/* Estilos generales para el header en dispositivos móviles */
@media (max-width: 768px) {
  header {
    grid-template-areas: "logo" "search" "user-navbar" "navbar" "carousel";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    /* Centrar el contenido */ }
  .logo-search {
    flex-direction: column;
    /* Alinear elementos en columna */
    align-items: center;
    /* Centrar horizontalmente */
    margin-bottom: 10px;
    /* Espacio entre logo y búsqueda */ }
  .search {
    margin-left: 0;
    /* Alinear búsqueda al centro */ }
  .user-navbar {
    order: -1;
    /* Mover user-navbar al principio */
    margin-top: 10px;
    /* Añadir espacio arriba */ }
  .navbar {
    margin-top: 10px;
    /* Espacio entre el navbar superior e inferior */ }
  .user-navbar-secondary {
    margin-top: 0px; }
  .user-navbar-secondary .nav-item {
    margin-top: 0px;
    /* Ajusta el margen derecho de cada elemento del menú */ } }

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideInTitle {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideInParagraph {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideInImage {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(-20%);
    /* Cambia el valor para ajustar la posición */
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/*

  @keyframes slideIn {
    0% {
      transform: translateY(100%) rotate(45deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }*/
.main-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center; }
  .main-nosotros .intro, .main-nosotros .team, .main-nosotros .values {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.5s ease-in-out; }
  .main-nosotros .intro {
    background-color: #000;
    background-image: url("../img/fondo-nosotros.jpg");
    background-color: rgba(67, 164, 162, 0.7);
    /* Color con transparencia */
    background-blend-mode: multiply;
    /* Mezcla de colores */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .main-nosotros .intro h1 {
      /* Apply the animation */
      animation: slideInTitle 1.5s ease-in-out;
      color: #FFFFFF;
      /* Color blanco más fuerte */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      /* Agrega sombra al texto para mejor legibilidad */ }
    .main-nosotros .intro p {
      /* Apply the animation */
      animation: slideInParagraph 1.5s ease-in-out;
      color: #FFFFFF;
      /* Color blanco más fuerte */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      /* Agrega sombra al texto para mejor legibilidad */
      /* Ajusta el centrado del párrafo */
      text-align: center;
      margin: 0 auto;
      /* Para centrar horizontalmente */ }
  .main-nosotros .team .animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Alinear horizontalmente los contenedores */
    width: 100%;
    height: 100%; }
  .main-nosotros .team .text {
    width: 50%;
    /* Ajustar el ancho del texto */
    transition: transform 1s ease-in-out;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
    animation-fill-mode: forwards; }
  .main-nosotros .team .image {
    width: 50%;
    /* Ajustar el ancho de la imagen */ }
    .main-nosotros .team .image img {
      max-width: 100%;
      height: auto;
      transform: translateX(-100%);
      transition: transform 1s ease-in-out;
      opacity: 0;
      animation: slideInImage 1s ease-in-out forwards;
      animation-fill-mode: forwards; }
  .main-nosotros .team .animation-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Alinear horizontalmente los contenedores */
    width: 100%;
    height: 100%; }
  .main-nosotros .team .text-2 {
    width: 50%;
    /* Ajustar el ancho del texto */
    transition: transform 1s ease-in-out;
    opacity: 0;
    animation: slideIn-1 1s ease-in-out forwards;
    animation-fill-mode: forwards; }
  .main-nosotros .team .image-2 {
    width: 50%;
    /* Ajustar el ancho de la imagen */ }
    .main-nosotros .team .image-2 img {
      max-width: 100%;
      height: auto;
      transform: translateX(100%);
      transition: transform 1s ease-in-out;
      opacity: 0;
      animation: slideInImage-1 1s ease-in-out forwards;
      animation-fill-mode: forwards; }

@keyframes slideIn-1 {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    /* Cambia el valor para ajustar la posición */
    opacity: 1; } }

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    /* Cambia el valor para ajustar la posición */
    opacity: 1; } }

@keyframes slideInImage-1 {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(20%);
    /* Cambia el valor para ajustar la posición */
    opacity: 1; } }
  .main-nosotros .values {
    background-color: #000; }
    .main-nosotros .values .values-title {
      opacity: 0;
      /* Inicialmente ocultar el título */
      top: 0;
      /* Posición inicial en la parte superior */
      left: 50%;
      /* Centrar horizontalmente */
      transform: translateX(-50%);
      /* Centrar horizontalmente */
      animation: slideInFromTop 1s ease-in-out;
      animation-fill-mode: forwards;
      /* Mantener los estilos finales después de la animación */ }

/* Estilos para el contenedor principal del index de la pagina principal MAIN */
/* Para dispositivos con un ancho máximo de 568px */
/* Mostrar los menús de navegación en pantallas medianas y grandes */
