$color-primary: #a0856c; /* marron suave */
$color-secondary: #f9f9f9; /* Gris claro */
/* Colores de acento */
$color-accent:  #e74c3c; /* Rojo intenso */


$color-background: #000; /* Fondo negro */
$color-letters:	#FFFFFF;

$animation-duration: 1s;


// Variables para los colores de las redes sociales
$color-facebook: #1877f2;
$color-twitter: #1da1f2;
$color-instagram: #e4405f;